certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.5
-e git+https://projetos.imd.ufrn.br/FIoT-Client/fiot-client-python.git@3d6993dcb34b61e33ea2f2ed732a6129b6b0506d#egg=fiotclient
idna==2.6
paho-mqtt==1.3.0
pytz==2017.2
requests==2.18.4
urllib3==1.22
