<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>&#9776;</button>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
      <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <span class="d-md-down-none">
          lucascriistiano
          -
          <span *ngIf="selectedService != null">
            {{selectedService.serviceName}} - {{selectedService.servicePath}}
          </span>
          <span *ngIf="selectedService == null">
            No selected service
          </span>
        </span>
        <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" [routerLink]="['/settings']"><i class="fa fa-wrench"></i> Settings</a>
        <div class="divider"></div>
        <a class="dropdown-item" [routerLink]="['/service/select']"><i class="fa fa-exchange"></i> Switch Service</a>
        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</header>
